<div>
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a>
                    </li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">HomeBoard</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Homeboard</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">

                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item px-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0">
                            <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown pe-2 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell cursor-pointer"></i>
                        </a>
                    </li>
                </ul>
                <div>
                    <mat-slide-toggle (change)="toggleSimulation($event)">Simuler</mat-slide-toggle>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <form [formGroup]="form"
          (ngSubmit)="submit()"
          *ngIf="(this.weatherData | async) as weather" class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Température</p>
                                    <h2 *ngIf="!(isSimulating$ | async)"
                                        class="font-weight-bolder mb-0">
                                        {{ weather.temperature | number: '2.0-0' }}&deg;C
                                        <span
                                            [ngClass]="[this.oldWeather.temperature - this.actualWeather.temperature > 0 ? 'text-danger' : 'text-success']"
                                            class="text-sm font-weight-bolder">{{this.oldWeather.temperature - this.actualWeather.temperature}}</span>
                                    </h2>

                                    <mat-form-field *ngIf="isSimulating$ | async">
                                        <input matInput type="number" formControlName="temperature">
                                        <span matSuffix>&deg;C</span>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="fas fa-thermometer-three-quarters text-lg opacity-10"
                                       aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p
                                        [ngClass]="(co2Critical$(weather.co2, 'text-sm mb-0 text-capitalize font-weight-bold') | async) ?? '' ">
                                        C02</p>
                                    <h2 *ngIf=" !(isSimulating$ | async) "
                                        [ngClass]="(co2Critical$(weather.co2, 'font-weight-bolder mb-0') | async) ?? '' ">
                                        {{ weather.co2 | number: '3.0-0' }}
                                        <span
                                            [ngClass]="[this.oldWeather.co2 - this.actualWeather.co2 > 0 ? 'text-danger' : 'text-success']"
                                            class="text-sm font-weight-bolder">{{this.oldWeather.co2 - this.actualWeather.co2}}</span>
                                    </h2>

                                    <mat-form-field *ngIf="isSimulating$ | async">
                                        <input matInput type="number" formControlName="co2">
                                        <span matSuffix>ppm</span>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Humidité</p>
                                    <h2 *ngIf="!(isSimulating$ | async)" class="font-weight-bolder mb-0">
                                        {{ weather.humidity | number: '2.0-0' }}%
                                        <span
                                            [ngClass]="[this.oldWeather.humidity - this.actualWeather.humidity >= 0 ? 'text-success' : 'text-danger']"
                                            class="text-sm font-weight-bolder">{{this.oldWeather.humidity - this.actualWeather.humidity}}</span>
                                    </h2>

                                    <mat-form-field *ngIf="isSimulating$ | async">
                                        <input matInput type="number" formControlName="humidity">
                                        <span matSuffix>%</span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="fa fa-tint text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" *ngIf="(scoreBuffer$ | async) as pair">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Qualité de l'air</p>
                                    <h1 class="font-weight-bolder mb-0">
                                        {{ pair.curr.value | number : '1.0-1' }}
                                        <!--                                        <span *ngIf="pair.prev !== null && diffMoreThan(pair, 0.1)"-->
                                        <!--                                              [ngClass]="scoreChangeClasses(pair.prev, pair.curr)">-->
                                        <!--                                            {{ (pair.prev.value - pair.curr.value) | sign : '1.0-1' }}-->
                                        <!--                                        </span>-->
                                    </h1>

                                    <button mat-stroked-button
                                            type="submit"
                                            color="secondary"
                                            *ngIf="(isSimulating$ | async)">
                                        Simulate
                                    </button>
                                </div>
                            </div>

                            <div class="col-4 text-end">
                                <div class="bg-gradient-primary border-radius-lg h-100">
                                    <img src="../assets/img/shapes/waves-white.svg"
                                         class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                                    <div
                                        class="position-relative d-flex align-items-center justify-content-center h-100">
                                        <img class="w-100 position-relative z-index-2 pt-4"
                                             src="../assets/img/illustrations/rocket-white.png" alt="rocket">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
