

    <div class="card h-100 mb-4 d-flex justify-content-center">
        <div class="card-header pb-0 px-3">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <small style="color: green">En pleine santé</small>
                </div>
            </div>
        </div>
        <div class="card-body pt-4 p-3">
            <img *ngIf="(reportService.avatar$ | async) as avatar"
                 [src]="avatar.src"
                 [alt]="avatar.alt">
        </div>
    </div>

